@import "../../utils/colors";

.landing-title {

    &__title-container {
        border-bottom: solid $color-text 1px;
        width: 100%;
        margin-bottom: 60px;
    }
    &__title {
        color: $color-text;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.04em;
        margin: 0;
        padding: 0 0 28px 0;
    }
}
