@import "../../utils/colors";

.card {
  width: 300px;
  height: 236px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);

  @media screen and (min-width: 640px) {
    width: 339px;
    height: 258px;
  }

  @media screen and (min-width: 1024px) {
    width: 364px;
    height: 271px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__title {
    color: $color-text;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;

    width: 237px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media screen and (min-width: 640px) {
      width: 276px;
    }
  
    @media screen and (min-width: 1024px) {
      width: 301px;
    }
  }

  &__duration {
    color: $color-text-light;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin: 0;
  }

  &__img {
    width: 300px;
    height: 168px;

    @media screen and (min-width: 640px) {
      width: 339px;
      height: 190px;
    }

    @media screen and (min-width: 1024px) {
      width: 364px;
      height: 203px;
    }
  }
}
