.hero {
    background-color: #5C5C5C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 183px 0 40px 0;

    @media screen and (min-width: 610px) {
        padding: 300px 0 70px 0;
    }

    &__title {
      margin: 0;
      padding: 0 10px 60px 10px;
      width: 300px;
      color: #FFFFFF;
      text-align: center;
      font-size: 31px;
      line-height: 39px;
      font-weight: 400;
      letter-spacing: -0.04em;

      @media screen and (min-width: 610px) {
        width: 520px;
        font-size: 40px;
        line-height: 52px; 
      }
    }

    &__logo {
        height: 230px;
        max-width: 100%;
    }
}