@import "../../utils/colors";

.navigation {
  display: none;

    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }

  &__movies-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  &__sign-links {
    display: flex;
    flex-direction: row;
    gap: 7px;

    @media screen and (min-width: 640px) {
      gap: 24px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;

    &_active {
      font-weight: 500;

    }

    &_color_white {
      color: $color-text-inverted;
    }

    &_color_black {
      color: $color-text;
    }
  }
}
