$color-background-dark: #5c5c5c;
$color-ui: #2be080;
$color-text: #000000;
$color-placeholder: #a0a0a0;
$color-error: #ee3465;
$color-input: #f9f9f9;
$color-background-medium: F5F5F5;
$color-background-light: #ffffff;
$color-icon: #e8e8e8;
$color-bar: #f2f2f2;
